 <div [class.status]="{
  status:true,
  'status-online':currentStatus === 'online',
  'status-offline':currentStatus === 'offline',
  'status-unknown':currentStatus === 'unknown'
 }">
    @if(currentStatus==="online"){
      <p>Servers are Online</p>
      <p>All systems are operational</p>
    } @else if (currentStatus==="offline"){
      <p>Servers are Offline</p>
      <p>Functionality should be restored soon.</p>
    } @else {
      <p>Server status is Unknown</p>
      <p>fetching server status failed</p>
    }
  </div>

